---
const { src } = Astro.props;
---

<div class="flex justify-center border-sponsor">
  <div
    class="bg-white rounded-[20px] w-full lg:w-[300px] xl:w-[420px] 2xl:h-[156px] flex justify-center items-center"
  >
    <img src={src} class="object-cover rounded-[20px]" alt="" />
  </div>
</div>
