---
const { src } = Astro.props;
---

<div class="flex justify-center border-sponsor">
  <div
    class="bg-white rounded-[20px] w-[420px] h-[156px] flex justify-center items-center"
  >
    <img src={src} class="object-cover" alt="" />
  </div>
</div>
