---
const { src } = Astro.props;
---

<div class="flex justify-center w-[250px] md:h-full md:w-full border-sponsor">
  <div
    class="bg-white rounded-[20px] w-[250px] md:w-full lg:w-[300px] xl:w-[420px] 2xl:h-[156px] flex justify-center items-center"
  >
    <img src={src} class="object-cover rounded-[20px]" alt="" />
  </div>
</div>
