---
const { title } = Astro.props;
---

<div class="flex items-end gap-[15px]">
  <p class="text-[34px] font-semibold text-white">{title}</p>
  <hr class="flex-1 b h-[2px] border-[#AACEF2] mb-[13px]" />
</div>
