---
const { title, black } = Astro.props;
---

<div class="flex items-end gap-[15px]">
  <p
    class={` md:text-[24px] lg:text-[30px] 2xl:text-[36px] font-semibold ${black ? "text-black" : "text-white"}`}
  >
    {title}
  </p>
  <hr
    class={`flex-1 b h-[2px] ${black ? "border-black" : "border-[#AACEF2]"}
    md:mb-[13px] mb-[6px]`}
  />
</div>
