---
const { src } = Astro.props;
---

<div class="flex justify-center border-sponsor">
  <div
    class="bg-white rounded-[20px] w-full 2xl:w-[382px] 2xl:h-[143px] flex justify-center items-center"
  >
    <img src={src} class="object-cover rounded-[20px]" alt="" />
  </div>
</div>
