---
const { title, white } = Astro.props;
---

<p
  class={`uppercase text-center md:text-start font-semibold text-[20px] md:text-[32px] lg:text-[36px] xl:text-[52px] z-10 ${white ? "text-white" : "text-[#309BD6]"}`}
>
  {title}
</p>
