---
import Nav from "../components/main-components/Nav.astro";
import Hero from "../components/main-components/Hero.astro";

import Layout from "../layouts/Layout.astro";
import KeynoteSpeakers from "../components/main-components/KeynoteSpeakers.astro";
import About from "../components/main-components/About.astro";
import PanelList from "../components/main-components/PanelList.astro";
import TechnicalDomainSection from "../components/main-components/TechnicalDomainSection.astro";
import Partners from "../components/main-components/Partners.astro";
import TechnicalCommittee from "../components/main-components/TechnicalCommittee.astro";
import MeicaPartner from "../components/main-components/MeicaPartner.astro";
import NavMobile from "../components/main-components/NavMobile.astro";
import HeroMobile from "../components/main-components/HeroMobile.astro";
---

<Layout title="Meica">
    <NavMobile />

    <div class="2xl:mx-[80px] lg:mx-[30px] md:px-[20px]">
        <Nav />
        <HeroMobile />
        <Hero />
        <KeynoteSpeakers />
        <About />
        <PanelList />
        <TechnicalDomainSection />
        <Partners />
        <TechnicalCommittee />
        <MeicaPartner />
    </div>
</Layout>
