---
import Nav from "../components/main-components/Nav.astro";
import Hero from "../components/main-components/Hero.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Meica">
    <div class="2xl:mx-[80px] lg:mx-[50px]">
        <Nav />
        <Hero />
    </div>
</Layout>
