---
import Nav from "../components/main-components/Nav.astro";
import Hero from "../components/main-components/Hero.astro";

import Layout from "../layouts/Layout.astro";
import KeynoteSpeakers from "../components/main-components/KeynoteSpeakers.astro";
import About from "../components/main-components/About.astro";
import PanelList from "../components/main-components/PanelList.astro";
---

<Layout title="Meica">
  <div class="2xl:mx-[80px] lg:mx-[50px]">
    <Nav />
    <Hero />
    <KeynoteSpeakers />
    <About />
    <PanelList />
  </div>
</Layout>
