@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
}
.indicator-active {
  background-color: white;
}
.indicator-inactive {
  background-color: #c5c5c5;
}

.linear-gradient-hero {
  background: linear-gradient(90deg, #417fb4 0%, #25a192 50.91%);
}
.angled-div {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}
.parallelogram {
  transform: skew(-20deg);
}
.skew-fix {
  display: inline-block;
  transform: skew(20deg);
}
.linear-gradient-keynote {
  background: linear-gradient(180deg, #25a192 0%, #4180b4 100%);
}

.parallelogram-div-gradient {
  transform: skew(-15deg);
}
.parallelogram-div {
  transform: skew(-3deg);
  clip-path: polygon(32% 0, 100% 0, 83% 100%, 6% 100%);
}
.skew-fix-div {
  display: inline-block;
  transform: skew(3deg);
}
.linear-gradient-button {
  background: linear-gradient(90deg, #4180b4 0%, #289d96 100%);
}

/* Ensure the parent div is positioned relative */
