<div class="w-full bg-[#24274A]">
  <div class="pl-[76px] pr-[85px] pt-[100px] pb-[100px] flex justify-between">
    <div class="flex flex-col gap-[30px]">
      <p class="text-[36px] font-semibold text-white">
        ORGANIZED BY ALDRICH INTERNATIONAL
      </p>
      <p class="text-[22px] text-white max-w-[670px] font-light">
        Aldrich International is a global consulting and event organizing firm
        offering premium, reliable platforms for the betterment of various
        technical industries, here’s some of our previous events.
      </p>

      <div>
        <img
          src="/assets/img/png/meica-logo.png"
          class="h-[81px] w-[232px] object-cover"
          alt=""
        />
      </div>

      <div>
        <p class="text-[20px] text-white font-light">
          © 2024, MEICA | All rights reserved
        </p>
        <p class="text-[20px] text-white font-light">
          Deisgned and Developed by <a
            class="text-[20px]"
            href="https://conferenceprime.com/">Conference Prime</a
          >
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-[30px]">
      <p class="text-[36px] font-semibold text-white">QUICK LINKS</p>
      <ul class="text-[22px] text-white max-w-[670px] flex flex-col gap-[25px]">
        <li class="metropolis-font font-[500] text-[22px]">Home</li>
        <li class="metropolis-font font-[500] text-[22px]">Registration</li>

        <li class="metropolis-font font-[500] text-[22px]">Speakers</li>

        <li class="metropolis-font font-[500] text-[22px]">Sponsors</li>

        <li class="metropolis-font font-[500] text-[22px]">Home</li>
      </ul>
    </div>

    <div class="flex flex-col gap-[30px]">
      <p class="text-[36px] font-semibold text-white">Get in Touch</p>
      <div class="">
        <div class="flex gap-[23px] items-center mb-[20px] lg:mb-[23px]">
          <div class="h-4 w-4 md:h-full md:w-[unset]">
            <img src="/assets/img/png/phone.png" alt="" />
          </div>
          <a
            class="text-white text-[15px] md:text-[20px] font-normal"
            href="tel:+971 586861345">+971 586861345</a
          >
        </div>

        <div class="flex gap-[23px] items-center w-full">
          <div class="h-4 w-4 md:h-full md:w-[unset]">
            <img src="/assets/img/png/email.png" alt="" />
          </div>
          <a
            class="text-white text-[15px] md:text-[20px] font-normal"
            href="mailto:info@meica.com">info@meica.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
