<div class="w-full bg-[#24274A]">
  <div
    class="2xl:pl-[76px] 2xl:pr-[85px] 2xl:pt-[100px] 2xl:pb-[100px] p-[30px] md:p-[50px] gap-[20px] flex flex-col md:gap-[40px] 2xl:gap-0 flex-wrap md:flex-row justify-between"
  >
    <div class="flex flex-col gap-[20px] md:gap-[30px]">
      <p
        class="md:text-[25px] 2xl:text-[36px] font-semibold text-white text-[22px]"
      >
        ORGANIZED BY ALDRICH INTERNATIONAL
      </p>
      <p class="md:text-[22px] text-[18px] text-white max-w-[670px] font-light">
        Aldrich International is a global consulting and event organizing firm
        offering premium, reliable platforms for the betterment of various
        technical industries, here’s some of our previous events.
      </p>

      <div>
        <a href="">
          <img
            src="/assets/img/png/meica-logo.png"
            class="md:h-[81px] md:w-[232px] w-[150px] object-cover"
            alt=""
          />
        </a>
      </div>

      <div>
        <p class="text-[18px] md:text-[20px] text-white font-light">
          © 2024, MEICA | All rights reserved
        </p>
        <p class="text-[18px] md:text-[20px] mt-2 text-white font-light">
          Deisgned and Developed by <a
            class="text-[18px] md:text-[20px] underline"
            href="https://conferenceprime.com/">Conference Prime</a
          >
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-[20px] md:gap-[30px]">
      <p
        class="md:text-[25px] 2xl:text-[36px] font-semibold text-white text-[22px]"
      >
        QUICK LINKS
      </p>
      <ul
        class="text-[18px] md:text-[22px] text-white max-w-[670px] flex flex-col gap-[15px] md:gap-[25px]"
      >
        <li class="metropolis-font font-[500] text-[18px] md:text-[22px]">
          <a href="">Home</a>
        </li>
        <li class="metropolis-font font-[500] text-[18px] md:text-[22px]">
          <a href="">Registration</a>
        </li>

        <li class="metropolis-font font-[500] text-[18px] md:text-[22px]">
          <a href="">Speakers</a>
        </li>

        <li class="metropolis-font font-[500] text-[18px] md:text-[22px]">
          <a href="">Sponsors</a>
        </li>

        <li class="metropolis-font font-[500] text-[18px] md:text-[22px]">
          <a href="">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-[20px] md:gap-[30px]">
      <p
        class="md:text-[25px] 2xl:text-[36px] font-semibold text-white text-[22px]"
      >
        Get in Touch
      </p>
      <div class="">
        <div class="flex gap-[23px] items-center mb-[20px] md:mb-[23px]">
          <div class="h-4 w-4 md:h-full md:w-[unset]">
            <img src="/assets/img/png/phone.png" alt="" />
          </div>
          <a
            class="text-white text-[18px] md:text-[20px] font-normal"
            href="tel:+971 586861345">+971 586861345</a
          >
        </div>

        <div class="flex gap-[23px] items-center w-full">
          <div class="h-4 w-4 md:h-full md:w-[unset]">
            <img src="/assets/img/png/email.png" alt="" />
          </div>
          <a
            class="text-white text-[18px] md:text-[20px] font-normal"
            href="mailto:info@meica.com">info@meica.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
