<div class="md:hidden flex flex-col gap-0">
  <div class="w-full h-[327px] relative">
    <img
      src="/assets/img/png/meica-hero.png"
      class="w-full h-[327px] object-cover"
      alt=""
    />
    <div class="absolute h-full w-full custom-gradient-hero-mobile top-0"></div>
  </div>
  <div
    class="custom-buttom-gradient-mobile flex flex-col justify-center items-center gap-[19px] px-[77px] py-[30px]"
  >
    <button
      class="border border-white bg-white parallelogram hover:bg-transparent group relative inline-flex items-center justify-start overflow-hidden"
    >
      <span
        class="w-full h-48 rounded bg-white absolute bottom-[-40px] right-0 translate-x-full ease-out duration-700 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="text-[#309BD6] px-[40px] py-[5px] text-[16px] metropolis-font skew-fix uppercase group-hover:text-[#309BD6] transition-colors duration-700 ease-in-out"
        >Register now</span
      >
    </button>

    <button
      class="border border-white bg-whi parallelogram hover:bg-white group relative inline-flex items-center justify-start overflow-hidden"
    >
      <span
        class="w-full h-48 rounded bg-[#25a192] absolute bottom-[-40px] left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
      ></span>
      <span
        class="metropolis-font px-[40px] py-[5px] text-[16px] text-white skew-fix uppercase group-hover:text-white transition-colors duration-700 ease-in-out"
        >Book a stand</span
      >
    </button>
  </div>
</div>
