<div
  id="default-carousel"
  class="relative w-full md:hidden h-[295px]"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden h-[295px]">
    <!-- Item 1 -->
    <div class="duration-700 ease-in-out hidden" data-carousel-item>
      <div class="flex flex-col gap-0">
        <div class="w-screen relative">
          <img
            src="/assets/img/png/meica-hero.png"
            class="w-screen object-cover h-[295px]"
            alt=""
          />
          <div class="absolute px-[20px] left-0 top-[51px] z-10 mb-3">
            <p class="text-white text-[20px] mb-3">
              INSTRUMENTATION, CYBERSECURITY & AUTOMATION EXPO
            </p>
            <p class="metropolis-font text-[12px] text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
            </p>
          </div>
          <div class="absolute h-full w-full custom-gradient-hero-mobile top-0">
          </div>
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="duration-700 ease-in-out hidden" data-carousel-item>
      <div class="flex flex-col gap-0">
        <div class="w-screen relative">
          <img
            src="/assets/img/jpg/futurism.jpg"
            class="w-screen object-cover h-[295px]"
            alt=""
          />
          <div class="absolute px-[20px] left-0 top-[51px] z-10 mb-3">
            <p class="text-white text-[20px] mb-3">
              INSTRUMENTATION, CYBERSECURITY & AUTOMATION EXPO
            </p>
            <p class="metropolis-font text-[12px] text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
            </p>
          </div>
          <div
            class="absolute h-full w-full custom-gradient-hero-mobile-2 top-0"
          >
          </div>
        </div>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="duration-700 ease-in-out hidden" data-carousel-item>
      <div class="flex flex-col gap-0">
        <div class="w-screen relative">
          <img
            src="/assets/img/jpg/digital.jpg"
            class="w-screen object-cover h-[295px]"
            alt=""
          />
          <div class="absolute px-[20px] left-0 top-[51px] z-10 mb-3">
            <p class="text-white text-[20px] mb-3">
              INSTRUMENTATION, CYBERSECURITY & AUTOMATION EXPO
            </p>
            <p class="metropolis-font text-[12px] text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua
              consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et
            </p>
          </div>
          <div
            class="absolute h-full w-full custom-gradient-hero-mobile-3 top-0"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider indicators -->
  <div
    class="absolute z-30 flex bottom-0 top-[268px] left-1/2 transform -translate-x-1/2 space-x-3 rtl:space-x-reverse"
  >
    <button
      type="button"
      class="w-2 h-2 rounded-full bg-white"
      aria-current="true"
      aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button
      type="button"
      class="w-2 h-2 rounded-full bg-white/50"
      aria-current="false"
      aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button
      type="button"
      class="w-2 h-2 rounded-full bg-white/50"
      aria-current="false"
      aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
  </div>
</div>
<div
  class="custom-buttom-gradient-mobile flex flex-col justify-center items-center gap-[19px] px-[77px] py-[30px] md:hidden"
>
  <button
    class="border border-white bg-white parallelogram hover:bg-transparent group relative inline-flex items-center justify-start overflow-hidden"
  >
    <span
      class="w-full h-48 rounded bg-white absolute bottom-[-40px] right-0 translate-x-full ease-out duration-700 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
    ></span>
    <span
      class="text-[#309BD6] px-[30px] py-[5px] text-[16px] metropolis-font skew-fix uppercase group-hover:text-[#309BD6] transition-colors duration-700 ease-in-out"
      >Register now</span
    >
  </button>

  <button
    class="border border-white bg-whi parallelogram hover:bg-white group relative inline-flex items-center justify-start overflow-hidden"
  >
    <span
      class="w-full h-48 rounded bg-[#25a192] absolute bottom-[-40px] left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
    ></span>
    <span
      class="metropolis-font px-[30px] py-[5px] text-[16px] text-white skew-fix uppercase group-hover:text-white transition-colors duration-700 ease-in-out"
      >Book a stand</span
    >
  </button>
</div>
