---
import Avatar from "../small-components/Avatar.astro";
import KeynoteCard from "../small-components/KeynoteCard.astro";
import SubHeading from "../small-components/SubHeading.astro";
---

<div class="lg:mt-[50px] 2xl:mt-[100px]">
  <SubHeading title="keynote speakers" />

  <div
    class="flex justify-between gap-[60px] 2xl:gap-[112px] mt-[55px] mb-[100px]"
  >
    <KeynoteCard
      src="/assets/img/png/avatar-1.png"
      name="Mohammed H. AlAbbadi"
      pos="Senior Vice President - Engineering Services Saudi Aramco"
      id="0_3_2"
    />
    <KeynoteCard
      src="/assets/img/png/avatar-2.png"
      name="Mohammed H. "
      pos="Senior Vice President - Engineering Services Saudi Aramco"
      id="0_3_1"
    />
  </div>
  <div class="bg-[#E0F6FF] w-full relative 2xl:h-[789px]">
    <div class="absolute right-0">
      <img src="/assets/img/svg/pattern-speakers.svg" alt="" />
    </div>
    <div
      class="pt-[100px] xl:pt-[128px] px-1 2xl:pl-[81px] 2xl:pr-[161px] grid grid-cols-2 xl:grid-cols-4 z-10 lg:gap-[30px]"
    >
      <Avatar
        src="/assets/img/png/avatar-3.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <Avatar
        src="/assets/img/png/avatar-4.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <Avatar
        src="/assets/img/png/avatar-5.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <Avatar
        src="/assets/img/png/avatar-6.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
    </div>

    <div class="py-[100px] flex justify-center">
      <button
        class="linear-gradient-button font-semibold text-[22px] parallelogram"
      >
        <span
          class="px-[115px] py-[12px] text-center uppercase skew-fix text-[22px] text-white"
          >View All Speakers</span
        >
      </button>
    </div>
  </div>
</div>
