---
import SubHeading from "../small-components/SubHeading.astro";
import ParticipatingSubheading from "../small-components/ParticipatingSubheading.astro";
import GoldSponsorCard from "../small-components/GoldSponsorCard.astro";
import SilverSponsorCard from "../small-components/SilverSponsorCard.astro";
---

<div class="pb-[100px] pt-[100px] px-[80px] bg-[#D9D9D9] mt-[100px]">
  <SubHeading title="MEICA PARTNERS" />

  <div class="mt-[50px]">
    <ParticipatingSubheading title="Supporting Partner" black />

    <div class="my-[72px] grid grid-cols-4 gap-[23px]">
      <SilverSponsorCard src="/assets/img/png/partner-3.png" />
      <SilverSponsorCard src="/assets/img/png/partner-3.png" />

      <SilverSponsorCard src="/assets/img/png/partner-3.png" />
      <SilverSponsorCard src="/assets/img/png/partner-3.png" />
    </div>
  </div>

  <div class="mt-[72px]">
    <ParticipatingSubheading title="Media Partner" black />

    <div class="mt-[72px] grid grid-cols-4 gap-[23px]">
      <SilverSponsorCard src="/assets/img/png/partner-5.png" />
      <SilverSponsorCard src="/assets/img/png/partner-5.png" />

      <SilverSponsorCard src="/assets/img/png/partner-5.png" />
      <SilverSponsorCard src="/assets/img/png/partner-5.png" />
    </div>
  </div>
</div>
