<div
  class="w-full bg-[#2D2E2F] xl:h-[60px] h-[50px] hidden md:flex justify-center items-center md:gap-[45px] xl:py-[17px] xl:gap-[24px] mt-[29px]"
>
  <ul
    class="flex justify-center items-center xl:py-[17px] gap-[10px] xl:gap-[24px]"
  >
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >HOME</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >ABOUT US</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >OUR PARTNERS</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >COMMITTEE</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >STUDENT GAMES</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >REGISTER AS OUR</a
      >
    </li>
    <li>
      <a
        href="#"
        class="font-medium text-[14px] lg:text-[15px] xl:text-[20px] text-white"
        >CONTACT US</a
      >
    </li>
  </ul>
</div>
