<nav
  id="nav"
  class="flex md:hidden start-0 top-0 bg-white w-full z-50 md:justify-between px-[15px] py-[30px]"
>
  <div
    class="flex flex-row-reverse flex-wrap lg:flex-nowrap justify-end md:justify-between w-full items-center lg:items-start gap-[13px]"
  >
    <div
      class="bg-white max-w-fit max-h-[151px] rounded-r-[10px] w-full gap-[40px] flex items-center md:justify-center"
    >
      <img
        class="w-[109px] object-cover"
        src="/assets/img/png/meica-logo.png"
        alt=""
      />
      <img
        class="w-[125px] object-cover"
        src="/assets/img/png/principal-sponsor.png"
        alt=""
      />
    </div>
    <button
      id="navbar-toggler"
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="bg-white mt-2 border-none lg:mt-0 inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-[#2CA6DF] rounded-lg lg:hidden hover:opacity-50 focus:outline-none"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu </span>
      <svg
        class="w-8 h-8"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full lg:block md:w-auto" id="navbar-dropdown">
      <div
        class="flex flex-col md:flex-row flex-wrap justify-end gap-[30px] md:gap-[15px] lg:gap-[15px] xl:gap-[30px] md:items-center mt-[10px] lg:mt-[0]"
      >
        <ul
          class="flex px-[40px] py-[20px] md:py-0 md:px-[50px] lg:px-0 flex-col md:flex-row flex-wrap lg:items-start justify-end gap-5 w-full lg:text-white text-black text-[19px] lg:text-[20px] font-medium"
        >
          <a href="/">Home</a>
          <a href="/">About Us</a>
          <a href="/">Our Partners</a>
          <a href="/">Committee</a>
          <a href="/">Student Games</a>
          <a href="/">Register As Our</a>
          <a href="/">Contact Us</a>
        </ul>
      </div>
    </div>
  </div>
</nav>
