---
import PanelListCard from "../small-components/PanelListCard.astro";
import SubHeading from "../small-components/SubHeading.astro";
---

<div class="xl:my-[100px] md:my-[50px] p-[20px] md:p-0">
  <SubHeading title="Panellist" />

  <div class="md:mt-[50px] mt-[20px]">
    <div
      class="grid grid-cols-2 gap-[20px] lg:grid-cols-3 xl:grid-cols-4 lg:gap-[20px] xl:gap-[33px]"
    >
      <PanelListCard
        src="/assets/img/panellist/panel-1.avif"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />

      <PanelListCard
        src="/assets/img/panellist/panel-2.jpg"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-3.avif"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-4.jpg"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-5.avif"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-6.jpg"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-7.jpg"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/panellist/panel-8.avif"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
    </div>
  </div>
</div>
