---
import SubHeading from "../small-components/SubHeading.astro";
import TechnicalDomainCard from "../small-components/TechnicalDomainCard.astro";
---

<div class="bg-[#D9D9D9] py-[100px] px-[80px]">
  <SubHeading title="Technical Domain" />

  <div class="grid grid-cols-3 mt-[50px] gap-[66px]">
    <TechnicalDomainCard
      src="/assets/img/png/domain-1.png"
      title=" Process Measurement, Automation"
    />
    <TechnicalDomainCard
      src="/assets/img/png/domain-2.png"
      title=" Process Measurement, Automation"
    />
    <TechnicalDomainCard
      src="/assets/img/png/domain-3.png"
      title=" Process Measurement, Automation"
    />
  </div>
</div>
