---
import SubHeading from "../small-components/SubHeading.astro";
import TechnicalDomainCard from "../small-components/TechnicalDomainCard.astro";
---

<div
  class="bg-[#D9D9D9] md:pt-[50px] lg:pt-[100px] md:px-[30px] lg:px-[30px] pb-[70px] md:pb-[70px] lg:pb-[100px] xl:pb-0 2xl:px-[80px] p-[20px] md:p-0"
>
  <SubHeading title="Technical Domain" />

  <div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 mt-[50px] gap-[50px] xl:gap-[32px] 2xl:gap-[66px]"
  >
    <TechnicalDomainCard
      src="/assets/img/png/domain-1.png"
      title=" Process Measurement, Automation"
    />
    <TechnicalDomainCard
      src="/assets/img/png/domain-2.png"
      title=" Process Measurement, Automation"
    />
    <TechnicalDomainCard
      src="/assets/img/png/domain-3.png"
      title=" Process Measurement, Automation"
    />
  </div>
</div>
