---
import PanelListCard from "../small-components/PanelListCard.astro";
import SubHeading from "../small-components/SubHeading.astro";
---

<div class="my-[100px]">
  <SubHeading title="Technical Commitee" />

  <div class="mt-[50px]">
    <div
      class="grid grid-cols-2 gap-[20px] lg:grid-cols-3 xl:grid-cols-4 lg:gap-[20px] xl:gap-[33px]"
    >
      <PanelListCard
        src="/assets/img/png/avatar-7.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />

      <PanelListCard
        src="/assets/img/png/avatar-8.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/png/avatar-9.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
      <PanelListCard
        src="/assets/img/png/avatar-10.png"
        name="James Rock"
        pos="Founder & CEO"
        com="Saudi Aramco"
      />
    </div>
  </div>
</div>
