---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/main-components/Footer.astro";
import "../scss/custom.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/meica-logo.ico" />
    <meta name="generator" content={Astro.generator} />
    <!-- og tags -->
    <meta property="og:title" content="MEICA EXPO" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="" />
    <meta
      property="og:description"
      content="INSTRUMENTATION, CYBERSECURITY & AUTOMATION EXPO.MEICA is the first Instrumentation Cybersecurity and Automation Expo in Middle East. "
    />
    <meta property="og:type" content="" />
    <meta property="og:image" content="/assets/img/png/meica-logo-ogtag.png" />
    <!-- og tags ends -->
    <title>{title}</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
  </head>
  <body class="max-w-[1920px] mx-auto">
    <div class="w-full hidden md:flex justify-between">
      <a href="">
        <img
          src="/assets/img/png/meica-logo.png"
          class="h-[81px] w-[232px] lg:ml-[80px] mx-[20px] mt-[34px] object-cover"
          alt=""
        />
      </a>
      <a href="">
        <img
          src="/assets/img/png/principal-sponsor.png"
          class="h-[100px] w-[475px] object-cover mt-[25px] mx-[20px] lg:mr-[50px]"
          alt=""
        />
      </a>
    </div>
    <slot />
    <Footer />
  </body>
</html>
